#i_do_wrap{padding-top:20px;box-shadow:1px 1px 1px 1px #e2e2e4;background-color:#fff;margin-top:16px}.i_do_div{line-height:44px;padding-left:145px;margin-bottom:20px}#i_do_wrap .i_do_div input.tline{width:200px;font-size:14px;line-height:14px;padding:10px 5px;height:auto}.i_do_tle{width:125px;top:0;left:0}#img_add,.img_li{width:130px;height:130px;margin-bottom:25px;float:left}.img_li{border:1px solid #ccc;margin-right:20px;position:relative}.del_img{top:-14px;right:-14px;cursor:pointer;background:url(../../images/items/icon_del.png) no-repeat;width:28px;height:28px;display:block;position:absolute;text-indent:-99999px}.btn_modify_txt{position:absolute;bottom:0;left:0;border-top:1px solid #ccc;background:#fff;opacity:.9;width:100%;line-height:24px;font-size:14px}.icon_modify{position:absolute;bottom:0;left:0;background:url(../../images/items/icon_modify.png) 95% center no-repeat;width:100%;font-size:14px;line-height:24px;text-indent:5px}.icon_add{position:absolute;bottom:0;left:0;width:100%;text-align:center;color:#be0c0c;font-size:14px;line-height:24px}#img_add{border:1px dashed #ccc}#img_add_a,#img_add_b{background-color:#eaeaf1}#img_add_a{width:6px;height:50px;top:40px;left:62px}#img_add_b{width:50px;height:6px;top:62px;left:40px}#i_des{width:435px;height:140px;line-height:28px;resize:both}#i_no_sku_price_em{top:1px;left:150px;font-size:18px}#i_no_sku_price,#i_no_sku_stock{width:150px;text-indent:18px;color:#444}#coding_val,#i_no_sku_stock,#scale_val{text-indent:5px;width:150px;color:#444}#i_do_btns{padding:26px 0;border-top:1px dashed #ccc}#sku_ul{width:600px;border-right:1px solid #9f9f9f;border-top:1px solid #9f9f9f;border-left:1px solid #9f9f9f;overflow:hidden}#sku_ul .input{border:none}#sku_hd,#sku_ul .input,.sku_li{height:35px;line-height:35px}#sku_hd,.sku_li{border-bottom:1px solid #9f9f9f}.sku_item_a,.sku_item_b,.sku_item_c{position:relative;border-right:1px solid #9f9f9f}.sku_item_a,.sku_item_b,.sku_item_c,.sku_item_d{float:left;display:block;height:100%}.sku_item_a{width:140px}.sku_item_b,.sku_item_c{width:120px}.sku_item_d{width:80px}.add_cate{display:inline-block;margin-right:10px}#item_img_input_wrap{position:absolute;top:0;left:0;z-index:10;overflow:hidden;display:none}#i_img_upload,#item_img_input_wrap,.item_img_input{width:100%;height:100%}#i_img_upload,.item_img_input{display:block}#content .dis_form{border:1px solid #ccc;color:#ccc}#content .dis_text{color:#ccc}.popUp-layer{position:absolute;width:640px;height:320px;z-index:200;left:50%;top:50%;margin-left:-320px;margin-top:-160px;display:none;background:#fff;font-size:14px}.popUp-layer-min{width:490px;height:360px;margin-left:-245px;margin-top:-180px}.popUp-layer h3{font-size:20px;padding:10px 20px;margin-top:10px;border-bottom:1px solid #d2d2d2}.popUp-layer .description-main{padding:20px}.popUp-layer textarea{border:1px solid #d2d2d2;width:430px;height:140px;font-size:14px;padding:10px}.popUp-layer p{margin-bottom:10px}.popUp-layer a.btn-submit{display:block;background:#cd312d;text-align:center;color:#fff;line-height:50px;width:200px;border-radius:3px}.popUp-layer a.btn-reset{display:block;background:#414141;text-align:center;color:#fff;line-height:50px;width:200px;border-radius:3px;float:right}.mask-layer{display:none;position:absolute;background:#000;width:100%;left:0;top:0;z-index:100;opacity:.5;filter:alpha(opacity=50)}.img_des{padding:10px}

/*ͼƬ�ϴ���*/
.imageupload .controls{margin-left:0px;word-break:break-all;*margin-left:0;*padding-left:10px;}
.imageupload .form-actions{padding:0 0 0 130px;margin:25px 0 10px 0;background:none;border:none;}
.imageupload .form-actions.the-new{padding:10px 10px 10px 130px;border-top:1px solid #ccc;background-color:#fffedc;margin:0;}
.imageupload .btn,.imageupload .btn-mini{font-size:12px;}
.imageupload .btn-large{font-size:14px;}
.imageupload em.required{font-size:16px;color:#f00;vertical-align:middle;}
.imageupload .help-block,.imageupload .help-desc{opacity:0.6;line-height:14px;font-size:12px;margin-top:6px;margin-bottom:0;float:left;clear:both}
.imageupload .help-block ul li,.imageupload .help-desc ul li{font-size:12px;line-height:12px; }
.imageupload .help-block:empty,.imageupload .help-desc:empty{margin-top:0px !important;}
.imageupload .static-value{padding-top:5px;font-size:14px;line-height:18px;padding-bottom:5px;word-break:break-all;}
.imageupload .control-action{display:inline-block;font-size:14px;line-height:18px;}

.upload-local-img{border-bottom:none;}
.upload-local-img .preview-container{margin-top:0;width:auto;max-height:none;}
.upload-local-img .preview-container img{max-width:100px;max-height:100px;margin:0 9px 10px 0;}
input.get-web-img-input{margin-right:20px;font-size:12px;}
.upload-image-list li{float:left;margin-right:10px;margin-bottom:10px;}
.upload-preview-img{width:80px;height:80px;text-align:center;border:1px solid #CCC;padding:1px;position:relative;}
.upload-preview-img img{max-height:100%;margin:auto;display:block;position:absolute;left:0;right:0;top:0;bottom:0;}
.upload-preview-img .close-modal{position:absolute;z-index:91;top:-9px;right:-9px;width:20px;height:20px;font-size:16px;line-height:18px;color:#fff;text-align:center;cursor:pointer;background:rgba(153, 153, 153, 0.6);border-radius:10px;}
.upload-preview-img .close-modal:hover{color:#fff;background:#000000;}
.upload-preview-img .close-modal.small{top:-8px;right:-8px;width:18px;height:18px;font-size:14px;line-height:18px;border-radius:9px;}

.fileinput-button{position:relative;overflow:hidden;width:80px;height:80px;border:2px dashed #CCC;background:none;padding:0;}
.fileinput-button .fileinput-button-icon{display:block;font-size:40px;font-weight:bold;color:#CCC;height:80px;line-height:80px;width:100%;text-align:center;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.fileinput-button .fileinput-button-icon a input{position:absolute;top:0;left:0;margin:0;opacity:0;filter:alpha(opacity=0);font-size:23px;direction:ltr;cursor:pointer;width:80px;height:80px;}
td{width: 20%;}
.upload-retry{
  background: none repeat scroll 0 0 #ff0000;
    float: left;
    height: 20px;
    left: 1px;
    position: absolute;
    top: 60px;
    width: 80px;
    z-index: 91;
	color:#fff;
}

.uploadify-progress-all {
	float:left;
	background-color: #E5E5E5;
	margin-top: 0px;
	width: 100%;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 70px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #6DB607;
	height: 10px;
	width: 1px;
}

/*sku�����ʽ��ʼ*/
.form-horizontal {
	margin-bottom: 30px;
	width: auto;
}

.form-horizontal select[readonly],.form-horizontal textarea[readonly] {
	background-color: #fff;
	cursor: text;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.form-horizontal .control-group:hover .help-block,.form-horizontal .control-group:hover .help-desc {
	opacity: 1;
}

.form-horizontal .control-group.with-separate {
	margin-bottom: 15px;
}

.form-horizontal .control-group.with-text {
	margin-bottom: 5px;
}

.form-horizontal .control-group.with-text p {
	margin-bottom: 0;
}

.form-horizontal .control-group.with-action {
	margin-top: 10px;
	padding-top: 8px;
	border-top: 1px dashed #ccc;
}

.form-horizontal .control-label {
	width: 120px;
	font-size: 14px;
	line-height: 18px;
}

.form-horizontal .controls {
	margin-left: 0px;
	word-break: break-all;
	*margin-left: 0;
	*padding-left: 10px;
}

.form-horizontal .form-actions {
	padding: 0 0 0 130px;
	margin: 25px 0 10px 0;
	background: none;
	border: none;
}

.form-horizontal .form-actions.the-new {
	padding: 10px 10px 10px 130px;
	border-top: 1px solid #ccc;
	background-color: #fffedc;
	margin: 0;
}

.form-horizontal .btn,.form-horizontal .btn-mini {
	font-size: 12px;
}

.form-horizontal .btn-large {
	font-size: 14px;
}

.form-horizontal em.required {
	font-size: 16px;
	color: #f00;
	vertical-align: middle;
}

.form-horizontal .help-block,.form-horizontal .help-desc {
	opacity: 0.6;
	line-height: 14px;
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 0;
}

.form-horizontal .help-block ul li,.form-horizontal .help-desc ul li {
	font-size: 12px;
	line-height: 12px;
}

.form-horizontal .help-block:empty,.form-horizontal .help-desc:empty {
	margin-top: 0px !important;
}

.form-horizontal .static-value {
	padding-top: 5px;
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 5px;
	word-break: break-all;
}

.form-horizontal .control-action {
	padding-top: 5px;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
}

.form-actions .btn {
	margin-right: 6px;
}
.input-small {
  width: 90px;
  border:1px solid #ccc;
}
.input-mini {
  width: 60px;
  border:1px solid #ccc;
}
.close-modal.small {
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 9px;
}
.close-modal {
  position: absolute;
  z-index: 2;
  top: -9px;
  right: -9px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: rgba(153, 153, 153, 0.6);
  border-radius: 10px;
}
.error-message{color:#b94a48;font-size:12px;margin:5px 0 0;}
/*sku�����ʽ����*/

/* autocomplete ��ʽ�鿪ʼ */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
/* autocomplete ��ʽ����� */
.select2-container{margin:0;position:relative;display:inline-block;zoom:1;*display:inline;vertical-align:middle;}
.select2-container,.select2-drop,.select2-search,.select2-search input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.select2-container .select2-choice{display:block;height:26px;padding:0 0 0 8px;overflow:hidden;position:relative;border:1px solid #e5e5e5;white-space:nowrap;line-height:26px;color:#444;text-decoration:none;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#fff;}
.select2-container.select2-drop-above .select2-choice{border-bottom-color:#e5e5e5;}
.select2-container.select2-allowclear .select2-choice .select2-chosen{margin-right:42px;}
.select2-container .select2-choice>.select2-chosen{margin-right:26px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.select2-container .select2-choice abbr{display:none;width:12px;height:12px;position:absolute;right:24px;top:8px;font-size:1px;text-decoration:none;border:0;background:url("/v2/image/select2.png") right top no-repeat;cursor:pointer;outline:0;}
.select2-container.select2-allowclear .select2-choice abbr{display:inline-block;}
.select2-container .select2-choice abbr:hover{background-position:right -11px;cursor:pointer;}
.select2-container .select2-choice .select2-arrow{display:inline-block;width:18px;height:100%;position:absolute;right:0;top:0;background-clip:padding-box;}
.select2-container .select2-choice .select2-arrow b{display:block;width:100%;height:100%;background:url("../image/select2.png") no-repeat 0 1px;}

.select2-container .select2-choice .select2-arrow-up{display:inline-block;width:18px;height:100%;position:absolute;right:0;top:0;background-clip:padding-box;}
.select2-container .select2-choice .select2-arrow-up b{display:block;width:100%;height:100%;background:url("../image/select2.png") no-repeat -18px 1px;}

.select2-search{display:inline-block;width:100%;min-height:26px;margin:0;padding-left:4px;padding-right:4px;position:relative;z-index:100;white-space:nowrap; margin-top:5px}
.select2-search input{width:100%;height:auto !important;min-height:26px;padding:4px 20px 4px 5px;margin:0;outline:0;font-family:sans-serif;font-size:1em;border:1px solid #e5e5e5;border-radius:0;-webkit-box-shadow:none;box-shadow:none;background:#fff url("../image/select2.png") no-repeat 100% -22px;}


.select2-drop{width:100%;margin-top:-1px;position:absolute;z-index:1100;top:100%;background:#fff;color:#000;border:1px solid #e5e5e5;border-top:0;}
.select2-drop-auto-width{border-top:1px solid #e5e5e5;width:auto;}
.select2-drop-auto-width .select2-search{padding-top:4px;}
.select2-drop.select2-drop-above{margin-top:1px;border-top:1px solid #e5e5e5;border-bottom:0;}
.select2-drop-active{border:1px solid #e5e5e5;border-top:none;}
.select2-drop.select2-drop-above.select2-drop-active{border-top:1px solid #e5e5e5;}
.select2-offscreen{width:96px}

.sku-list{
	float:left;
	width:365px;
}
.sku-item {
    display: inline-block;
    width: 120px;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;	
}
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.select2-input {
	border:1px solid #ccc;	
	width:118px;
	height:28px;
	margin-right:18px;
	
	
}