.cart_p8{background-image:url(http://s.koudai.com/images/cart/png_8.png?v=2015032402);background-size:50px}.cart_sec{padding:10px}.cart_wrap{border-radius:3px;overflow:hidden;}.cart_list_title{ height:30px;line-height:30px;text-indent:10px}#cart_ul,#cart_ul_dis{background-color:#fff;font-size:12px}.cart_li,.cart_li_dis,#cart_loading,#cart_empty,#address_loading,#del_all_wrap{height:75px;padding:10px;border-top:1px solid #e3e3e3}#cart_empty{text-align:center;line-height:75px;font-size:16px}.cart_img,.cart_img_dis{width:70px;height:70px;padding:2px;left:40px;top:10px}.cart_img_dis{left:10px}.cart_tle,.cart_tle_dis{height:30px;line-height:15px;color:#323232;display:block;margin-left:115px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis}.cart_tle_dis,.cart_des_dis{margin-left:85px}.del_dis_item{right:10px;bottom:10px}#del_all_wrap{height:30px;line-height:30px}#del_all_dis_item{padding:0 5px;border:1px solid #ccc;background-color:#eee;border-radius:5px}.cart_cls{padding-left:115px;color:#999}.control_count{left:125px;top:61px;line-height:26px}.i_pri{font-size:14px}.control_sub,.control_num,.control_add,.control_stock{height:24px;line-height:24px}.control_sub,.control_add{width:24px;font-size:20px;cursor:pointer;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;background:#eeefee;background:-webkit-gradient(linear,center top,center bottom,from(#fff),to(#eeefee))}.control_sub{border-left:1px solid #e3e3e3}.control_add{border-right:1px solid #e3e3e3}.control_num{width:60px;border:1px solid #e3e3e3}#address_form{border-top:1px solid #e3e3e3; padding:10px; background: #fff}.address_p{padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:80px; background: #fff}.address_p_area{padding-right:30px}.address_p>label{top:10px;left:10px}.input{width:100%;height:30px;line-height:30px;border-bottom:1px solid #e3e3e3; color:#707070;font-size:14px; border-radius: 0px;}#detail_add,#remark{text-indent:0;height:40px;padding-right:20px;line-height:20px;margin-top: 6px;}#address_wrap{padding-bottom:10px}#address_sec{padding-bottom:10px}
#cart_footer{display:block;line-height:40px;background-color:#fdfbfb;position:relative;margin:0 10px 10px; overflow: auto; padding:10px;}
#money_calc{line-height:40px; height:40px; padding-left:10px;}
#money_count{font-size:14px}
#go_cash,#disable_gocash{width:100%;color:#fff; margin-top: 10px; margin-bottom: 15px; }
#disable_gocash{height:44px; bottom:-15px;right:0;z-index:10;background-color:#afafaf !important}#iWantWeixinMoney{width:70%;margin:20px auto 10px;height:30px;line-height:30px;color:#ff5000;border:1px solid #e3e3e3;display:block;text-align:center}
.cart_mask{width:16px;height:16px;overflow:hidden;left:12px;top:40px;background-color:#e5e5e5;border-radius:8px}
.cart_mask:after{content:""; width:4px; height:8px; border-right:2px solid #fff; border-bottom:2px solid #fff; top:1px; left:5px; position:absolute; -webkit-transform:rotate(45deg)}
.already_mask{background-color:#c60a1e}
.item_num{
    width:100%;
    height:100%;
    line-height:24px;
    font-size:14px;
}
#hack_input{
    height:45px;
    width:100%;
    line-height:45px;
    background-color:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:1000000000000;
}
.adressinfo{ display: block; margin-top: 10px; padding:10px 20px; background:#fff; line-height: 30px; position: relative;}
.adressinfo span{ padding-left: 20px; color: #3b7dc1}
.adressinfo p em{ width: 9px; height: 9px;display: block; position: absolute; right: 20px; top: 30px; border-bottom: #717171 solid 1px; border-right: #717171 solid 1px; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
#captchaSpan{
    height:30px;
    line-height:30px;
    vertical-align:top;
}
#captchaSpan img{ width: 70px; height: 29px}


#userLogin .cart_wrap{ padding:5px 20px; background: #fff}
#userLogin p{padding-top:8px;padding-bottom:8px; line-height: 24px; color: #707070; font-size: 12px;}
#userLogin p.esp{ height: 45px; line-height: 45px; border-bottom: #e3e3e3 solid 1px;font-size: 14px;padding-top:0;padding-bottom:0;}
#changeUser{ float: right; border-radius: 4px; width: 62px; display: block; height: 30px; line-height: 30px; text-align: center; color: #707070; font-size: 12px; margin-top: 6px; background: #ebebeb}
#userTel{ float: left; color: #323232}
#userTel em{ color: #d93229;}

.paddingMark{ padding: 0px 10px 10px 10px; background: #fff}